/* Toute la page */

* {	
	padding:0;
	font-family:Raleway, sans-serif;
	max-width:100%;
	margin:0;
}

/* Page Web */

html {
	font-size: 17px;
	max-width:1500px;
	margin:auto;
}

/* Logo et menu */

#logo {
	margin:20px 10px 40px 0px;
	padding: 0 2rem;
	height: 55px;
}

#nav-bar {
	display:grid;
	grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "logo . link1 link2 link3";
}

.log {
	color:#0065FC;
	font-weight: bold;
}

#nav-bar .link, #nav-bar .log {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-top: 4px solid transparent;
}

nav a {
	font-size:1.1em;
	padding-top:25px;
}

nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

#link1 {
	grid-area:link1;
	border-top: 4px solid transparent;
}

#link2 {
	grid-area:link2;
	border-top: 4px solid transparent;
}

#link3 {
	grid-area:link3;
}

.link {
  	transition: 0.3s;
	color:black; 
}

.link:hover {
	color:#0065FC;
}

#link1:hover, #link2:hover {
  	border-top: 4px solid #0065FC;
}

a:link {
 	text-decoration:none;
}

/* Section Recherche */

h1 {
	font-size:20px;
	font-weight:bold;
}

#search-btn {
	display: inline-flex;
	max-width:100%;
	margin:10px;
}

.fas {
	
	font-size:0.7rem;
	color:#f2f2f2;
	font-family: "Font Awesome 5 Free";
}

#sectionSearch {
	margin:10px;
}

#recherche {
	border-right: none;
	border-left: none;
	border-top: #F2F2F2 1px solid;
	border-bottom: #F2F2F2 1px solid;
	padding: 0 1.5rem;
	box-sizing: border-box;
	width: 15rem;
	font-size: 1rem;
	font-weight: bold;
}

.icone-search {
	background-color: #F2F2F2;
	color:black;
	padding: 10px 10px 10px 10px;
	border-radius:1rem 0 0 1rem;
}

.btn-search {
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 0 1rem 1rem 0;
	padding: 1rem;
	font-size: 1rem;
	cursor: pointer;
}

@media screen and (min-width: 800px) {

.btn-search2.fas.fa-search {
	display: none;
	}
}

.btn-search:hover {
	background-color:#DEEBFF;
	transition-duration: 0.5s;
}

h2 {
	margin-right:20px;
	font-size:17px;
	font-weight:bold;
}

#filtre {
    display: flex;
    align-items: center;
    margin: 1rem;
}

#filtres-icone {
    display: inline-flex;
}

.FiltreSearch {
	display: flex;
	align-items: center;
	margin-right: 2rem;
	border: 2px solid #d9d9d9;
	border-radius: 2rem;
	margin-bottom: 1rem;
	cursor: pointer;
	font-weight: bold
}

.icone-filtre {
	background-color: #DEEBFF;
	border-radius: 100%;
	min-height: 3.5rem;
	min-width: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
	text-align:center;
}

.icone-filtre2 {
	padding:0.5rem;
	color: blue;
	font-size:20px;
}

.FiltreSearch span {
	display: inline-block;
	background-color: transparent;
	padding:1rem;
	cursor: pointer;
	font-weight: bold;
	border-radius:2rem;
}

.FiltreSearch:hover, .FiltreSearch span:hover {
	background-color:#DEEBFF;
	transition-duration: 0.5s;
}

.rond {
	height: 2rem;
	width: 2rem;
	min-height: 2rem;
	border: solid 2px #DEEBFF;
	border-radius: 100%;
	margin-right: 1rem;
}

.icone-info {
	padding:0.5rem;
	padding-left:14px;
	color: blue;
	font-size:20px;
}

.rond, .text-info {
	display: inline-block;
}

/* Section du milieu - Hebergement */

h3 {
	font-weight:bold;
	padding:20px 10px 0px 20px;
	display: inline;
}

h3 .fa-chart-line{
	font-size: 20px;
	margin-right: 50px;
}

#SectionMidl {
	column-gap:5px;
	background-color:#F2F2F2;
	border-radius:10px;
	padding:1rem;
}

#FullMiddle {
	width:1500px;
	height:600px;
	display: flex;
	column-gap: 1.5rem;
}

.hebergement-cards{
	display: grid;
	column-gap: 2rem;
	row-gap:1rem;
	grid-template-columns: repeat(3, 1fr);
}

.cards-hebergement {
	border-radius: 10px;
	background-color:white;
	margin: 0.5em;
	cursor: pointer;
	padding:0.5rem 0.5rem 0rem 0.5rem;
	height:100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards-hebergement img {
	width:250px;
	max-height:120px;
	border-radius: 10px 10px 0 0;
	object-fit: cover;
}

.titre-hebergement {
    font-weight: bold;
}

.etoile[data-active="true"] {
	color: #0065FC;
}

.etoile[data-active="false"] {
	color: #F2F2F2;
}

.plus {
	font-weight: bold;
	margin-top: 3rem;
	padding-left:15px ;
	color: black;
	float: left;
}

/* Section Aside */

.chart {
	color:black;
	float:right;
}

#SectionRight {
	display:flex;
	flex-direction: column;
	border-radius: 20px;
	background-color:#F2F2F2;
}

#SectionFullCards {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	width: 500px;
}

.cards-hebergement-aside {
	background-color:white;
	border-radius:10px;
	padding:0.2rem;
	margin: 10px 50px auto 50px;
	max-height: 140px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: grid;
	grid-template-columns: 40% 55%;
	grid-template-rows: 20px 20px 20px 80px;
	grid-template-areas: "img titre""img titre""img prix""img etoile";
	column-gap: 1rem;
	cursor:pointer;
}

.cards-hebergement-aside img{
	height: 100%;
	width: 100%;
	border-radius: 10px 0px 0px 10px;
	object-fit: cover;
	grid-area:img;
}

.cards-hebergement-aside .etoile {
	margin-top:30px;
	grid-area:etoile;
}

.prix-aside{
	grid-area:prix;
}

.titre-hebergement-aside{
	font-weight:bold;
}

/* Section Activités */

#FullActivites {
	margin-top: 20px;
}

#activites {
	display:grid;
	grid-template-columns: repeat(4, 1fr);
  	grid-template-rows: 200px 20px 200px;
	column-gap: 2rem;
	margin-top: 20px;
	margin-bottom:50px;
}

#activites figcaption{
	font-weight:bold;
	padding-left:30px;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:0px 0px 20px 20px;
	cursor:pointer;
}

#cards1-activites {
	display:grid;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 4;
	border-radius:20px;
}

#cards1-activites img{
	object-fit: cover;
  	min-height:100%;
	width:100%;
	border-radius:20px 20px 0px 0px;
}

#cards2-activites {
	display:grid;
	max-height: 250px;
	width:100%;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	border-radius:20px;
}

#cards2-activites figure{
	display:grid;
	max-height: 250px;
	width:100%;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	border-radius:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cards2-activites img{
	height:100%;
	width:100%;
	border-radius:20px 20px 0px 0px;
	object-fit: cover;
}

#cards3-activites {
	display: grid;
	max-height: 100px;
	border-radius: 20px;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-end: 4;
	margin-top: 50px;
}

#cards3-activites img{
	max-height:150px;
	width: 100%;
	border-radius:20px 20px 0px 0px;
	object-fit: cover;
}

#cards4-activites {
	display:grid;
	min-height:400px;
	width:100%;
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
	border-radius:20px;
}

#cards4-activites img{
  	min-height:100%;
	width:100%;
  	object-fit: cover;
	border-radius:20px 20px 0px 0px;
}
#cards5-activites {
	display:grid;
	height:80%;
	width:100%;
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	border-radius:20px;
}

#cards5-activites figure{
	display:grid;
	max-height: 75%;
	width:100%;
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	border-radius:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cards5-activites img{
	max-height:100%;
	width:100%;
	border-radius:20px 20px 0px 0px;
	object-fit: cover;
}

#cards6-activites {
	display:grid;
	height:250px;
	width:100%;
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	border-radius:20px;
}

#cards6-activites figure{
	display:grid;
	max-height: 240px;
	width:100%;
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-end: 4;
	border-radius:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: -15px;
}

#cards6-activites img{
	height:100%;
	width:100%;
	border-radius:10px;
	border-radius:20px 20px 0px 0px;
	object-fit: cover;
}

/* Pied de page */

#FooterFull {
	background-color:#F2F2F2;
	width:100%;
	margin-top:1rem;
	display: inline-flex;
}

#FooterFull a {
	Padding: 10px;
	text-decoration: none;
	color: black;
}

h4 {
	padding:10px;
}

#F1 {
	display: flex;
	flex-direction: column;
	margin-left:10px;
	padding:1rem;
}

#F1 div, #F2 div, #F3 div{
	display: flex;
	flex-direction: column;
	padding:20px;
	margin-top: 10px;
}

#F2 {
	display: flex;
	flex-direction: column;
	margin-left:13%;
	padding:1rem;
}

#F3 {
	display: flex;
	flex-direction: column;
	margin-left:13%;
	padding:1rem;
}


.cards-hebergement-aside:hover, figure:hover, .cards-hebergement:hover {
    transform:scale(1.1);
	cursor:pointer;
}



/* Tablette */

@media screen and (min-width: 800px) and (max-width: 1400px){

html    {
			width:900px;
			max-width:100%;
		}
		
#logo 	{
			margin:30px;
		}
	
#nav-bar {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas: "logo link3""link1 link2";
		}
	
#link1  {
			padding-bottom:25px;
		}
	
#link2 {
			padding-bottom:25px;
		}
		
#link3 	{
			grid-area:link3;
		}
	
#link1:hover, #link2:hover {
			border-bottom: 4px solid #0065FC;
			border-top:4px solid transparent;
			color:#0065FC;
			padding-bottom:25px;
		}

#filtre {
			display:grid;
			max-width:80%;
		}
		
#filtres-icone {
			flex-wrap: wrap;
			display: flex;
	}

/* Milieu tablette */

#FullMiddle {
			flex-direction:column-reverse;
			width: 900px;
			height: auto;
			row-gap:1rem;
			max-width: 100%;
		}
		
#SectionFullCards {
			padding:10px;
			row-gap:0;
			width:100%;
			display: grid;
			grid-template-columns: repeat(2,1fr);
		}

.hebergement-cards{ 
			display: grid;
			column-gap: 0.5rem;
			row-gap:1rem;
			grid-template-columns: repeat(2, 1fr);
		}

.cards-hebergement img {
			max-height: 120px;
		    border-radius: 10px 10px 0 0;
		   	object-fit: cover;
		    min-width: 100%;
		}

/* Activités tablette */

#activites {
			max-width:100%;
			width:1024px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 250px);
			row-gap:10px;
		}
			
#cards1-activites {
			display: inline;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;
		}
			
#cards1-activites img {
			max-height: 200px;
			min-width:100%;
		}
		
#cards2-activites {
			display:inline;
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}
		
#cards2-activites img {
			max-height: 200px;
		}
		
#cards3-activites {
			display: inline;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 3;
			margin-top:0;
		}
		
#cards3-activites img {
			max-height: 200px;
		}
		
#cards4-activites {
			display: inline;
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3;
			min-height:0;
		}
		
#cards4-activites img {
			max-height: 200px;
		}
		
#cards5-activites {
			display: inline;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 3;
			grid-row-end: 4;
		}
		
#cards5-activites img {
			max-height: 200px;
		}
		
#cards6-activites {
			display: inline;
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 3;
			grid-row-end: 4;
		}
		
#cards6-activites img {
			max-height: 200px;
		}
		
#cards6-activites figure {
			margin:0;
}

}
/* Mobile */

@media screen and (max-width: 800px){

html    {
			width:600px;
			max-width:100%;
		}
		
#logo 	{
			margin:30px;
		}
	
#nav-bar {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas: "logo link3""link1 link2";
		}
	
#link1  {
			padding-bottom:25px;
		}
	
#link2 {
			padding-bottom:25px;
		}
		
#link3 	{
			grid-area:link3;
		}
	
#link1:hover, #link2:hover {
			border-bottom: 4px solid #0065FC;
			border-top:4px solid transparent;
			color:#0065FC;
			padding-bottom:25px;
		}
	
.btn-search {
			display:none;
		} 

.btn-search2 {
			background-color: #0065FC;
			color: white;
			border: none;
			border-radius: 0 1rem 1rem 0;
			padding: 1rem;
			font-size: 1rem;
			cursor: pointer;
		}

#filtre {
			display:grid;
			max-width:80%;
		}
		
#filtres-icone {
			flex-wrap: wrap;
			display: flex;
	}

/* Milieu mobile */

#FullMiddle {
			flex-direction:column-reverse;
			width: 600px;
			height: auto;
			row-gap:1rem;
			max-width: 100%;
		}
		
#SectionFullCards {
			padding:10px;
			row-gap:0;
			width:100%
		}

.hebergement-cards{ 
			display: grid;
			column-gap: 0.5rem;
			row-gap:1rem;
			grid-template-columns: repeat(1, 1fr);
		}

.cards-hebergement img {
			max-height: 120px;
		    border-radius: 10px 10px 0 0;
		   	object-fit: cover;
		    min-width: 100%;
		}

/* Activités mobile */

#activites {
			max-width:100%;
			width:600px;
			grid-template-columns: 600px;
			grid-template-rows: repeat(6, 250px);
			row-gap:10px;
		}
			
#cards1-activites {
			display: inline;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;
		}
			
#cards1-activites img {
			max-height: 200px;
			min-width:100%;
		}
		
#cards2-activites {
			display:inline;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 3;
		}
		
#cards2-activites img {
			max-height: 200px;
		}
		
#cards3-activites {
			display: inline;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 3;
			grid-row-end: 4;
			margin-top:0;
		}
		
#cards3-activites img {
			max-height: 200px;
		}
		
#cards4-activites {
			display: inline;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 4;
			grid-row-end: 5;
			min-height:0;
		}
		
#cards4-activites img {
			max-height: 200px;
		}
		
#cards5-activites {
			display: inline;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 5;
			grid-row-end: 6;
		}
		
#cards5-activites img {
			max-height: 200px;
		}
		
#cards6-activites {
			display: inline;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 6;
			grid-row-end: 7;
		}
		
#cards6-activites img {
			max-height: 200px;
		}
		
#cards6-activites figure {
			margin:0;
}
			
			
			

#FooterFull {
			background-color:#F2F2F2;
			width:100%;
			margin-top:1rem;
			display: inline-flex;
			flex-direction: column;
		}
		
/* Pied de page Mobile */

#FooterFull a {
			text-decoration: none;
			color: black;
			padding-top:10px;
		}
		
#F2 	{
			display: flex;
			flex-direction: column;
			padding:20px;
			margin-top: 10px;
			margin-left:10px;
		}



#F3 	{
			display: flex;
			flex-direction: column;
			padding:20px;
			margin-top: 10px;
			margin-left:10px;
		}

}
